{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Change Password' %}{% endblock %}
{% block header %}{% trans 'Change Password' %}{% endblock %}

{% block width %}small{% endblock %}

{% block content %}

    <form method="post" action="{% url 'accounts:password_reset_confirm' uidb64=uidb64 token=token %}">
        {% include '_form.html' %}
        <div class="buttons">
            <input type="submit" value="{% trans 'Change Password' %}">
        </div>
    </form>

{% endblock %}
