{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Change Password' %}{% endblock %}
{% block header %}{% trans 'Change Password' %}{% endblock %}

{% block width %}small{% endblock %}

{% block content %}

    <form method="post" action="{% url 'accounts:password_change' %}">
        {% include '_form.html' %}
        <div class="buttons">
            <input type="submit" value="{% trans 'Change Password' %}">
        </div>
    </form>

    <p><a href="{% url 'accounts:profile' %}">{% trans 'Return to profile.' %}</a></p>

{% endblock %}
