{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block title %}{% trans 'Albums' %}{% endblock %}
{% block header %}{% trans 'Albums' %}{% endblock %}

{% block actions %}
    <span class="actions album-actions">
        {% if perms.photos.add_album %}
            <a href="{% url 'album_create' %}" class="create">{% trans 'Create Album' %}</a>
        {% endif %}
    </span>
{% endblock %}

{% block content %}
    <div class="album-list">
        {% for album in album_list %}
            <div class="thumb">
                <a href="{{ album.get_absolute_url }}">
                    {% if album.cover_photo %}
                        <img src="{{ album.cover_photo.file_200x200.url|default:'' }}" alt="{{ album.name }}">
                    {% else %}
                        <img src="{{ STATIC_URL }}/img/cover-blank.png">
                    {% endif %}
                    <div class="name">{{ album.name|truncatechars:"45" }}</div>
                    {% with count=album.photo_set.count %}
                        <div class="count">
                            {% blocktrans count counter=count with total=count|intcomma %}
                                {{ total }} photo
                            {% plural %}
                                {{ total }} photos
                            {% endblocktrans %}
                        </div>
                    {% endwith %}
                </a>
            </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
{% endblock %}
