{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ photo.album.name }}{% endblock %}
{% block header %}{{ photo.album.name }}{% endblock %}

{% block pagination %}

    {% if paginator.has_previous %}
        <a href="{{ paginator.previous_url }}" class="previous" data-navigate="left">&lt&lt; Prev</a>
    {% else %}
        <span class="previous">&lt&lt; Prev</span>
    {% endif %}

    <span class="count">
        {{ paginator.index }} {% trans 'of' %} {{ paginator.count }}
    </span>

    {% if paginator.has_next %}
        <a href="{{ paginator.next_url }}" class="next" data-navigate="right">Next &gt;&gt;</a>
    {% else %}
        <span class="next">Next &gt;&gt;</span>
    {% endif %}

{% endblock %}

{% block actions %}
    <div class="actions photo-actions">
        {% if perms.photos.change_photo %}
            <a href="{% url 'photo_rotate' photo.pk %}" data-modal="rotate">{% trans 'Rotate' %}</a>
            <a href="{% url 'photo_rename' photo.pk %}" data-modal="form">{% trans 'Rename' %}</a>
            <a href="{% url 'photo_move' photo.pk %}" data-modal="form">{% trans 'Move' %}</a>
            <a href="{% url 'photo_tag' photo.pk %}" data-modal="form">{% trans 'Tag' %}</a>
        {% endif %}
        {% if perms.photos.delete_photo %}
            <a href="{% url 'photo_delete' photo.pk %}" data-modal="form">{% trans 'Delete' %}</a>
        {% endif %}
        <a href="{% url 'photo_download' photo.pk %}">{% trans 'Download' %}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="photo-main">
        <div class="photo">
            <img src="{{ photo.file_800x600.url }}" alt="{{ photo.name }}">
        </div>
        <div class="name">{{ photo.name }}</div>
    </div>
{% endblock %}
