<div style="display:none">{% csrf_token %}</div>

{% if form.non_field_errors %}
    <ul class="errors non-field-errors">
        {% for err in form.non_field_errors %}
            <li>{{ err }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% for hidden in form.hidden_fields %}
    <div style="display:none">{{ hidden }}</div>
{% endfor %}

{% for field in form.visible_fields %}
    <div class="field {% if field.errors %}field-with-errors{% endif %}">
        {% if field.errors %}
            <ul class="errors">
                {% for err in field.errors %}
                  <li>{{ err }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if field.is_checkbox %}
            <div class="checkbox">{{ field }}{{ field.label_tag }}</div>
        {% else %}
            <div class="input">
                {{ field.label_tag }}{{ field }}
                {% if field.field.help_text and not request.is_ajax %}
                    <span class="helptext">{{ field.field.help_text|safe }}</span>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endfor %}

{{ form.media }}
