{% load i18n %}
{% load humanize %}

{% if paginator.count > 0 %}

    {% if paginator.this_page.has_previous %}
        <a href="{{ paginator.previous_url }}" class="previous keydown-navigate-left">&lt&lt; Prev</a>
    {% else %}
        <span class="previous">&lt&lt; Prev</span>
    {% endif %}

    <span class="count">
        {{ paginator.this_page.start_index }} - {{ paginator.this_page.end_index }}
        {% trans 'of' %}
        {{ paginator.count }}
    </span>

    {% if paginator.this_page.has_next %}
        <a href="{{ paginator.next_url }}" class="next keydown-navigate-right">Next &gt;&gt;</a>
    {% else %}
        <span class="next">Next &gt;&gt;</span>
    {% endif %}

{% endif %}
