div, p, input, select, textarea {
    font: normal 12px "Lucida Grande", "Calibri", "Verdana", sans-serif
}

h1 {
    font-weight: bold;
    font-size: 22px;
}

h2 {
    font-weight: bold;
    font-size: 18px;
}

h1 .sub {
    font-weight: normal;
    font-size: 16px;
}

.album-list .name, .photo-main .name {
    font-weight: bold;
}

.album-list .count {
    font-size: 11px;
}

.photo-main .name {
    font-size: 14px;
}

input, select textarea {

}
